In [1]:
import pandas as pd

In [2]:
data  = pd.read_csv('./data_tweet_mood.csv')
data.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1917566086180135193,Wed Apr 30 13:05:56 +0000 2025,0,btw emang beneran enak ya kalau kita selalu pu...,1917566086180135193,NaN,NaN,in,NaN,0,0,0,https://x.com/alfianayt/status/191756608618013...,1041911822733869057,alfianayt
1,1914657152528212025,Tue Apr 22 12:45:58 +0000 2025,0,@togethur Merasa bersalah karena aku agak setu...,1914661961511346444,NaN,togethur,in,NaN,0,1,0,https://x.com/morsmorden/status/19146619615113...,1592564536644468737,morsmorden
2,1914283269685973394,Mon Apr 21 11:41:11 +0000 2025,0,LDM ni bnr2 bisa bkin mood naik turun ya. KIo ...,1914283269685973394,NaN,NaN,in,NaN,0,0,0,https://x.com/sheila_sevenia/status/1914283269...,1312005651330023426,sheila_sevenia
3,1910147964443721889,Thu Apr 10 01:48:58 +0000 2025,0,gak mood bgt KENAPA AKU MERASA JELEK HARI-HARI...,1910147964443721889,NaN,NaN,in,NaN,0,0,0,https://x.com/chitavtos/status/191014796444372...,769401602952265728,chitavtos
4,1908811645922705496,Sun Apr 06 09:18:55 +0000 2025,0,Mood sweet food udah banyak drop. Tapi aku har...,1908811645922705496,NaN,NaN,in,NaN,1,2,0,https://x.com/belenboi/status/1908811645922705496,1823647606289129476,belenboi

In [3]:
clean = data['full_text'].copy()

In [4]:
clean.head()

0    btw emang beneran enak ya kalau kita selalu pu...
1    @togethur Merasa bersalah karena aku agak setu...
2    LDM ni bnr2 bisa bkin mood naik turun ya. KIo ...
3    gak mood bgt KENAPA AKU MERASA JELEK HARI-HARI...
4    Mood sweet food udah banyak drop. Tapi aku har...
Name: full_text, dtype: object

In [5]:
clean.to_csv('mood_data_12.csv', index=False)